<div class="jumbotron">
  <h1>Welcome, <%= @user.name %></h1>
  <% if @user.status == 'NoResponse' %>
    <%= render partial: "rsvp", :locals => {user: @user} %>
  <% end %>
</div>
<%= render partial: "/welcome/wedding_details" %>

