<div class="jumbotron">

  <h1>Welcome, <%= @user.name %></h1>

  <% if @user.type == 'NoResponse' %>
  <%= erb :'users/_rsvp', :locals => {user: user, session_user: session_user} %>
  <% end %>

</div>
