<div class="hidden fade in" id="song-form-success">
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Your song was submitted.
  </div>
</div>
<div class="hidden fade in" id="song-form-error">
  <div class="alert alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Something went wrong.</strong> Please try again.
  </div>
</div>
<form id="song-form">
  <label>Song Name:
    <input type="text" name="name">
  </label><br />
  <label>Artist:
    <input type="text" name="artist">
  </label><br />
  <label>URL (optional):
    <input type="text" name="url">
  </label><br />
  <input type="submit">
</form>
