<div class="hidden note-form-success fade in">
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Your message was sent successfully.
  </div>
</div>
<ul class="list-group">
  <%= render @prompts %>
</ul>
