<div class="form-container panel panel-default">
  <form id="rsvp-form" method="post">
    <input type="hidden" name="_method" value="put">
    <ul class="list-group">
      <li class="list-group-item">
        <input type="radio" name="type" value="Attending">Attending
      </li>
      <li class="list-group-item">
        <input type="radio" name="type" value="NotAttending">Not Attending
      </li>
      <% if session_user.invited_plus_one %>
      <li class="list-group-item">
        Number in party attending:
        <select>
        <% for i in 1..5 do %>
          <option value="<%= i %>"><%= i %></option>
        <% end %>
        </select>
      </li>
    </ul>
    <% end %>
    <button type="submit" class="btn btn-default">RSVP</button>
  </form>
</div>
