<div class="modal fade" id="signin-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signin-title">Please Sign In</h4>
      </div>
      <form method="post" id="signin-form">
      <div class="modal-body">
        <input type="text" name="username" placeholder="Username...">
        <input type="text" name="password" placeholder="Password...">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>




