<div class="panel panel-default">
  <form id="gift-form">
    <input type="text" name="title" placeholder="Item Title...">
    <label>Category:
      <select name="category">
        <option value="Home Decor">Home Decor</option>
        <option value="Kitchenware">Kitchenware</option>
        <option value="Gift Certificates">Gift Certificates</option>
        <option value="Events and Dates">Events and Dates</option>
        <option value="Charitable Gifts">Charitable Gifts</option>
        <option value="Other">Other</option>
      </select>
    </label>
    <input type="text" name="url" placeholder="URL...">
    <label>Upload Image:
      <input type="file" name="gift_img">
    </label>
  </form>
</div>
