<div class="col-xs-6 col-md-3">
  <a href="<%= gift.url %>" class="thumbnail" target="_blank">
    <%= image_tag gift.gift_img.url(:medium) %>
  </a>
  <h4><%= gift.title %></h4>
  <p><%= gift.category %></p>
</div>
