<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#" id="nav-details">Details</a>
        </li>
        <% if session_user %>
        <li>
          <a href="#" id="nav-rsvp">RSVP</a>
        </li>
        <li>
          <a href="#" id="nav-notes">Notes</a>
        </li>
        <li>
          <a href="/gifts" id="nav-registry">Registry</a>
        </li>
        <li>
          <a href="#" id="nav-song">Suggest a Song</a>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if session_user %>
          <a href="#" id="nav-logout">Logout</a>
          <% else %>
          <a href="#" id="nav-login">Login</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
