<h2>Wedding Details</h2>
<div class="panel panel-default">
  <div class="panel-header">
    <h3>Main Details</h3>
  </div>
  <div class="panel-body wedding-details row">
    <div class="col-md-6">
      <h4>October 26, 2015</h4>
      <h4>Ceremony: 5pm</h4>
      <h4>Reception: 6pm to 12pm</h4>
    </div>
    <div class="col-md-6 wedding-details-image">
    </div>
  </div>


  <div class="panel-header">
    <h3>Venue</h3>
  </div>
  <div class="panel-body wedding-details row">
    <div class="col-md-6">
      <h4>Agave Road</h4>
      <p>1016 FM 1463</p>
      <p>Katy, TX 77494</p>
    </div>
    <div class="col-md-6 wedding-details-image">
    </div>
  </div>
</div>

